body {
    background: linear-gradient(to bottom,#fcf9fc 0%,rgb(216, 214, 216) 50%, white 50%, white 100%);
weight: 500px

}



img {
    display: block;
    margin-top: 70px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
    width: 450px;
    height: 450px;
    border: 5px solid white;
    border-radius: 50%;
    float: bottom;
   
}

.h {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size-adjust: none;
    
}

.p {
    text-align: center;
    
}

.links {
    text-align: center;
}


.link-itemrm {
    text-align: center;
    padding: 30px;
}


.title {
    font-size: 50px;
    color: rgb(53, 53, 53);
}


.desc-content{
    width: 30cm;
}


.form-label {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}


.todo-input {
    width: 50%;
    height: 30px;
    transition: 80.1ms;
    border-color: darkcyan;
    box-shadow: none;
    padding-left: 10px;
}


.todo-input:focus {
    width: 70%;
    transition: 8.1ms;
    border-color: darkcyan; important;
}



.a {
    color: white;
    text-decoration: none;
}


.github:hover {
    color: bisque;
}


.twitter:hover {
    color: pink;
}

.linkedin:hover {
    color: magenta;
}

.ig:hover {
    color: brown;
}


.my-todo:hover {
    color: chartreuse;
}

.facebook:hover {
    color: green;
}
.footer{
    text-align: center;
    padding: 0px;
}
